<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1552596828-4e48cd784320?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2600&q=80);">
  <div class="container">
    <h1><strong>G</strong>REET <strong>S</strong>TATUES</h1>
    <p>L'ART, ÇA SE PARTAGE !</p>
    <%= button_to "METTRE MA STATUE EN LOCATION", new_statue_path, :class => "btn btn-ghost", :method => :get %>
  </div>
</div>
