<div class="footer d-flex justify-content-between">

    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-copyright">
      Copyright © 2019 - Design by OST
    </div>

    <div class="footer-copyright">
      <a href="#" class="back-to-top">Back to Top</a>
    </div>

</div>

