<div class="footer-two p-1">
  <div class="container-footer">
    <div class="footer-menu d-flex justify-content-center">
      <div class="column">
        <p>Retrouvez nous sur les réseaux sociaux</p>
        <div class= "media-buttons d-flex justify-content-around">
              <i class="fab fa-github "></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin"></i>
              </div>
      </div>
      <div class="separation"></div>
      <div class="column">
        <p>A propos</p>
          <ul>
            <li>Notre histoire</li>
            <li></li>
          </ul>
      </div>
    </div>
    <div class="copyright mt-1 mb-2">
          <i class="fa fa-copyright" role="copyright">
          </i> Une réalisation OST - 2019 Le Wagon <address class="footer-address" role="company address">Lille, FR</address><span class="footer-bottom-rights"> - Tous droits réservés - </span>
        </div>
         <div class="footer-copyright">
    </div>
  </div>
</div>

