<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-lightbulb"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <div class="search-bar">
          <form novalidate="novalidate=" class="simple_form search" action="/statues/search" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="/">
            <div class="search-form-control form-group">
              <input type="text" class="form-control string required" name="search" id="search_query" placeholder="Search">
            </div>
          </form>
        </div>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "http://www.01humours.com/image/enfants/46.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Your profil", "#", class: "dropdown-item" %>
          <%= link_to('Fermer ma session', destroy_user_session_path, class: "dropdown-item",  method: :delete) %>
        </div>
      </li>
    </ul>
  </div>
</div>
