.container-profile {

  min-height: calc(100vh - 115px);

  margin-left: 40px;
  margin-right: 40px;
  min-height: calc(100vh - 115px);
}
.contact {
  border: lightgray 1px solid;
  width: 25%
}

.avatar-profile {
text-align: center;
font-family: Alata, sans-serif;
}

.avatar-profile img {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  width: 100px;
}
.avatar-profile p {
  text-decoration: none;
  color: #393E46;
}

.infos-profile {
  border-bottom: 1px solid lightgray;
}
.infos-profile h4 {
  letter-spacing: 5px;
  font-family: Alata, sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
.infos-profile p {
  letter-spacing: 1px;
  font-family: Alata, sans-serif;
}
.reviews-profile h3 {
  font-family: Alata, sans-serif;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.my-reviews p {
  font-family: Alata, sans-serif;
}
.my-reviews i {
  color: #f7be16;
}
.stars-rating {
  color: #f7be16;
  text-align: center;
}

.reviews-profile p {
  font-family: Alata, sans-serif;
  text-align: justify;
}
.previous-rentals-profile {
  width: 65%;
}
.welcome-text-profile {
  font-family: Alata, sans-serif;
  letter-spacing: 2px;
  text-align: center;
}
.description-profile {
  font-family: Alata, sans-serif;
  letter-spacing: 1px;
}
.description-profile p {
  text-decoration:none;
}

.link_to {
  text-decoration: none;
  color: #393E46;
}
.link_to a:hover {
  text-decoration: none;
  opacity: 0.3;
  color: #393E46;
}
h3 {
  font-family: Alata, sans-serif;
  letter-spacing: 5px;
}

h1 h2 h3 h4 p {
  color: #393E46;
}
