

<div class="container">
  <div class="row">
    <% @statues = Statue.all %>
    <% @statues.each do |statue| %>
      <div class="col-xs-12 col-md-6">
        <%= render 'components/card', statue: statue %>
      </div>
    <% end %>
  </div>

  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
