<%= render 'components/banner' %>

<div class="container-fluid text-center">
  <div class="columns d-flex justify-content-around mt-5 mb-5">
    <div class="column p-2">
      <i class="fas fa-mobile-alt"></i><br>
      Je dépose une annonce <br>sur le site <strong>7j/7 - 24h/24</strong>.
    </div>
    <div class="column p-2">
      <i class="fas fa-check"></i><br>
      Je trouve ma statue parmi <br><strong>des milliers de propositions !</strong>
      </div>
    <div class="column p-2">
      <i class="fas fa-comment"></i><br>
      Je donne <strong>mon avis </strong><br>sur ma location.
    </div>
  </div>
</div>
<div class="container">
  <div class="row title mt-4 mb-3 d-flex align-middle">
    <i class="far fa-eye"></i> Découvrez les dernières statues en ligne
  </div>
  <div class="row">
    <% @statues.each do |statue| %>
      <div class="col-xs-12 col-md-6">
        <%= render 'components/card', statue: statue %>
      </div>
    <% end %>
  </div>
  <div class="maping" style="margin-bottom: 12px;">
    <%= render 'components/map', markers: @markers, statues: @statues %>
  </div>
</div>

<div class="container">
  <div class="container-down text-center flex-wrap mb-4">
    <div class ="friends-title mt-5 mb-5">
      <h2> <i class="far fa-handshake"></i>  Ils nous font confiance</h2></div>
    </div>
    <div class="col-md-12 d-flex justify-content-center mb-4 ">
      <div class="bd-placeholder-img bd-placeholder-img-lg img-fluid">
        <img src="http://jiajuanli.eu/wp-content/uploads/2017/04/Louvre-LOGO.png" class="friend-logo">
      </div>
      <div class="bd-placeholder-img bd-placeholder-img-lg img-fluid">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/The_Metropolitan_Museum_of_Art_Logo.svg/1200px-The_Metropolitan_Museum_of_Art_Logo.svg.png" class="friend-logo">
        </div>
      <div class="bd-placeholder-img bd-placeholder-img-lg img-fluid">
        <img src="https://upload.wikimedia.org/wikipedia/fr/4/46/Gr%C3%A9vin_Paris_%28logo%29.png" class="friend-logo">
      </div>
      <div class="bd-placeholder-img bd-placeholder-img-lg img-fluid">
        <img src="https://enabla.fr/wp-content/uploads/2018/12/logo-airbnb.png" class="friend-logo">
      </div>
      <div class="bd-placeholder-img bd-placeholder-img-lg img-fluid">
        <img src="https://dwj199mwkel52.cloudfront.net/assets/lewagon-logo-square-fe76916e1b923ade71e253ae6dc031d936e5e8eebac4e26b0fbac650ea6ee360.png" class="friend-logo">
      </div>
    </div>
</div>
