<%= render 'components/banner' %>

<div class="container">
  <div class="row title mt-4 mb-3 pl-3 pr-3 pb-2">
    Découvrez l'ensemble des statues de nos utilisateurs
  </div>
  <div class="row">
    <% @statues.each do |statue| %>
      <div class="col-xs-12 col-md-6">
        <%= render 'components/card', statue: statue %>
      </div>
    <% end %>
  </div>
</div>
