.btn-ghost {
  color: white;
  border: 1px solid aquamarine;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: aquamarine;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-greyscale {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 3px 6px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
}

.btn-greyscale:hover {
  border-radius: 10px;
  padding: 3px 6px;
  color: white;
  text-transform: uppercase;
  background: mediumpurple;
  transition: background 0.3s ease;
  text-decoration: none;
  margin-left: 10px;
}

.btn-green-ghost {
  color: #212529;
  background-color: none;
  padding: 4px 6px;
  border-radius: 25px;
  border-color: #1EDD88;
  font-weight: lighter;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  text-decoration:none;
  text-transform:uppercase;
  margin-left: 10px;
}

.btn-green-ghost:hover {
  opacity: 1;
  color: purple;
  text-decoration:none
}

.btn-details {
  color: white;
  background-color: #1EDD88;
  border-color: #1EDD88;
}

.btn-details:hover {
  color: white;
  background-color: #7af9c0;
  border-color: #1EDD88;
}

.btn-success-nav {
  background-color: #b48ee5;
  border-color: #1EDD88;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
}

.btn-success-nav:hover {
  background-color: #1EDD88;
  border-color: #1EDD88;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  color: purple;
}

.btn-devise-log-in {
  background-color: #5ed180;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.btn-show-options {
  background-color: mediumaquamarine;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: none;
}

.btn-show-options:hover {
  background-color: #91e0c4;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-show-delete {
  background-color: #D2B48C ;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: none;
}

.btn-show-delete:hover {
  background-color: #e5cfb3 ;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: none;
  transition: background 0.3s ease;
}


.btn-show-edit {
  background-color: #6fabc4 ;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: none;
}

.btn-show-edit:hover {
  background-color: #9ED0E6 ;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-reservation {
  font-size: 20px;
  padding: 5px 5px;
  border-radius: 5px;
  color: mediumaquamarine;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: none;
}

.btn-reservation:hover {
  transition: 0.2s ease;
  font-size: 21px;
  padding: 5px 5px;
  border-radius: 5px;
  color: #91e0c4;
  font-weight: bold;
  margin-bottom: 30px;
  text-decoration: none;
}

.fa-heart {
  color: red;
  margin-right: 3px;
  font-size : 20px;
}
