.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  -webkit-filter: sepia(50%);
}

.card-trip:hover > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  -webkit-filter: white(50%);

}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 5px;
  top: -50px;
  width: 60px;
}

.card-trip .card-trip-princing {
  font-size: 30px;
}

.card-trip .btn-ghost {
  position: absolute;
}

.show-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgrey;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 8px 7px 0px rgba(0,0,0,0.2);
}

.show-card > ul {
  list-style:none;
}

.show-card > img {
  border-radius: 50%;
}

.show-card > p {
  border-radius: 50%;
}

.show-card > h1 {
  font-size: 40px;
  letter-spacing: 3px;
  font-family: Alata, sans-serif;
  text-align: center;
  color: mediumaquamarine;
}


