.footer {
  background: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top:auto;

}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #66CDAA;
  opacity: 0.90;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright{
  font-size: 12px;
}

.footer-contact {
  color: rgba(0,0,0,0.3);
  opacity: 0.90;
  font-size: 24px;

}
.back-to-top {
  color: #66CDAA;
  opacity: 0.90;
  font-size: 24px;
}

.back-to-top a:hover {
  opacity: 0,7;
}
