
$primary-light-blue: #66CDAA;
$primary-line-color: #F4F4F4;
* {
  box-sizing: border-box
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.generic-anchor {
  color: #66CDAA;;
  &:visited {
    color: #66CDAA;
  }
  &:hover {
    color: #66CDAA;
  }
}

.footer-address {
  display: inline;
  font-style: normal
}

.footer-two {
  background-color: grey;
}


.column i {
  color: mediumaquamarine;
  font-size: 32px;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.column p {
  margin-top: 10px;
  color: white;
  font-family: Alata;
  text-transform: uppercase;
  font-size: 16px;
}

.column {
  margin-right: 120px;
  text-align: center;
}

.column :hover {
  color: #7AF9C1;
}

.column li {
  color: mediumaquamarine;
  font-size: 16px;
  margin-left: -37px;
  margin-top: 26px;
}

.copyright {
  color: aquamarine;
  margin-bottom: -8px;
}

.back-to-top {
  color: mediumaquamarine;
  font-size: 12px;
  // margin-left: 745px;
}

.back-to-top :hover {
  color: white;
  text-decoration: none;
}

.footer-menu {
  margin-top: 22px;
}
