.marker {
  background-image: url('https://res.cloudinary.com/dfycu31xs/image/upload/v1574182934/pin-statue_tqkhpi.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 5px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  background-color: #F4F4F4;
  opacity: 0.9;
}

.mapboxgl-popup-content h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: mediumaquamarine;
}

.mapboxgl-popup-content img {
  width: 100px;
  height: 100px;
  object-fit: cover;

}
