.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-opacity {
  justify-content: space-between;
  background: white;
  border-color: purple;
  transition: background 0.3s ease;

}

.navbar-lewagon .fa-lightbulb {
  color: mediumpurple;
  width: 50px;
  font-size: 34px;
  background-color: lightgreen;
  padding: 7px;
  border-radius: 100%;
  margin-left: -243px;
}
