.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: center;
}

.navbar-lewagon .navbar-collapse a {
  text-decoration: none;

}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar-opacity {
  justify-content: space-between;
  background: white;
  border-color: purple;
  transition: background 0.3s ease;
}

.navbar-lewagon .fa-lightbulb {
  color: mediumpurple;
  width: 50px;
  font-size: 34px;
  background-color: lightgreen;
  padding: 7px;
  border-radius: 100%;
  margin-left: 25px;
}
.nav-item {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 26px;
  color: #494949;
  margin-top: 16px;
  font-family: Alata, sans-serif;
}
.search-form-control .btn {
  position: absolute;
  top: 10 px;
  bottom: 8px;
  right: 8px;
}
.search-form-control {
  position: relative;
}
.search-form-control .form-control {
  border-radius: 50px;
  width: 20vw;
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin-top: 20px;
  margin-right: 30px;
}

.navbar-lewagon .avatar-dropdown-toggle {
  color: red;
}


