// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  padding-top: 100px;
  background-image: url("https://cdn130.picsart.com/283934875008211.png?r1024x1024");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

@media screen and (max-width: 980px) {
  body {
  padding-top: 100px;
  background-image: url("https://cdn130.picsart.com/283934875008211.png?r1024x1024");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;

}
}

